*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik';
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #FBF7F7;
  color: #5A5449;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.u_center-page {
  max-width: 1440px;
  padding: 0 3rem;
  margin: 0 auto;
}

.u_center-page-min {
  padding: 0 12.7rem;
}

.u_section-mtb {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.u_section-ptb {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-8 {
  margin-top: 8rem;
}

.u-flex-r-cc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.u_anchor {
  width: 0;
  height: 0;
  visibility: hidden;
  background: transparent;
}

.align-center {
  width: 100%;
  text-align: center;
}

.heading-2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
}

.heading-3 {
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: capitalize;
}

.heading-3--center {
  text-align: center;
}

.heading-4 {
  font-size: 2rem;
  letter-spacing: .1rem;
}

.heading-5 {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0;
}

.cta {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-align: center;
  background-color: #41B0C1;
  color: #FBF7F7;
  vertical-align: middle;
  -webkit-box-shadow: 0px .5rem .5rem  #0003;
          box-shadow: 0px .5rem .5rem  #0003;
  -webkit-transition: -webkit-filter .25s ease, -webkit-transform .25s ease;
  transition: -webkit-filter .25s ease, -webkit-transform .25s ease;
  transition: filter .25s ease, transform .25s ease;
  transition: filter .25s ease, transform .25s ease, -webkit-filter .25s ease, -webkit-transform .25s ease;
  cursor: pointer;
}

.cta:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.cta--nav {
  margin-left: auto;
  margin-right: 3rem;
  border-radius: 1.3rem;
  font-size: 1.2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.burger {
  position: relative;
  background-color: #41B0C1;
  width: 3rem;
  height: .4rem;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
  background-color: #41B0C1;
  height: .4rem;
}

.burger::before {
  top: -1rem;
  right: 0;
  width: 4rem;
}

.burger::after {
  top: 1rem;
  right: 0;
  width: 2rem;
}

.burger.cross {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}

.burger.cross::after {
  display: none;
}

.burger.cross::before {
  width: 3rem;
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.banner-cta {
  border-radius: 3rem;
  margin: 0 auto;
  max-width: 85%;
  min-height: 12rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 84, 73, 0.3)), to(rgba(90, 84, 73, 0.3))), url(../images/lotus.jpg);
  background-image: linear-gradient(rgba(90, 84, 73, 0.3), rgba(90, 84, 73, 0.3)), url(../images/lotus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4rem;
  margin-bottom: 14rem;
  color: #FBF7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-cta--text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66%;
          flex: 1 1 66%;
  padding-right: 2rem;
}

.nav {
  position: fixed;
  z-index: 100;
  background-color: none;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.nav-scrolled {
  background-color: #FBF7F7;
}

.nav-logo {
  color: #41B0C1;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.nav-logo img {
  height: 3.5rem;
}

.wrap-burger {
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform .24s ease;
  transition: -webkit-transform .24s ease;
  transition: transform .24s ease;
  transition: transform .24s ease, -webkit-transform .24s ease;
}

.wrap-burger:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu {
  position: fixed;
  top: 25%;
  right: 0;
  height: 50vh;
  width: auto;
  border-radius: 5rem 0 0 5rem;
  z-index: -1;
  background-color: #41B0C1;
  color: #FBF7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.menu-items {
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem;
}

.menu:target {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-checkbox {
  display: none;
}

.nav-checkbox:checked ~ .menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hero-bg {
  background-color: #FBF7F7;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(65, 176, 193, 0.2)), color-stop(85%, #fbf7f7));
  background-image: linear-gradient(0deg, rgba(65, 176, 193, 0.2) 0%, #fbf7f7 85%);
}

.hero {
  position: relative;
  height: 100vh;
  margin: 0 auto;
}

.hero__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15rem;
  z-index: 2;
}

.hero__text-title {
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: .2ch;
  margin-bottom: 1rem;
  font-size: clamp(2rem, 10vw, 6rem);
}

.hero__text-subtitle {
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 3rem;
  max-width: 30ch;
}

.hero__image-container {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.hero__image-container img {
  display: block;
  max-height: 95%;
  width: auto;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
}

.about__images {
  width: 100%;
  height: 50rem;
}

.card-wrap {
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  border-radius: 3rem;
}

.card-wrap:hover .card-container {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-front img, .card-back img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3rem;
}

.card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.classes {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(65, 176, 193, 0.1)), color-stop(66%, #fbf7f7), to(rgba(65, 176, 193, 0.1)));
  background-image: linear-gradient(to top right, rgba(65, 176, 193, 0.1) 0%, #fbf7f7 66%, rgba(65, 176, 193, 0.1));
}

.classe-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  gap: 6rem;
}

.card {
  height: 45rem;
  width: 30rem;
  background-color: #41B0C1;
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
  cursor: pointer;
}

.card:hover img {
  opacity: 1;
}

.card img {
  position: abolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .8;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.card__text {
  position: absolute;
  padding: 0 1.5rem;
  padding-top: 3rem;
  color: #FBF7F7;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), color-stop(80%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0));
  bottom: 0;
  left: 0;
  z-index: 10;
}

.card__text p {
  margin: 1rem 0;
}

.testimonial-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5fr;
      grid-template-columns: 1fr 2.5fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.testimonial-card {
  position: relative;
  min-height: 30rem;
  max-height: 50rem;
  width: 100%;
  background-color: #fff;
  border-radius: 3rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.testimonial-card::before, .testimonial-card::after {
  content: "";
  background-image: url("../images/quote.svg");
  background-repeat: no-repeat;
  width: 8rem;
  height: 8rem;
  position: absolute;
  z-index: 10;
}

.testimonial-card::before {
  top: -3rem;
  left: -3rem;
}

.testimonial-card::after {
  bottom: -3rem;
  right: -3rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.testimonial-card__content-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 35%;
}

.testimonial-card-text {
  position: absolute;
  width: 60%;
  left: 65%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-card-text p {
  font-style: italic;
  font-weight: 300;
  margin-bottom: 2.5rem;
  font-size: clamp(1vw, 2rem, 2vw);
}

.gallery {
  height: 100vh;
}

.gallery__content {
  max-width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
}

.gallery__content-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #41B0C1;
  border-radius: 3rem;
}

.gallery__content-img--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  grid-row: 1 / -1;
}

.gallery__content-img--2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  grid-row: 1 / -1;
}

.gallery__content-img--3 {
  grid-column: 8 / -1;
  grid-row: 1 / -1;
}

.footer {
  background-color: #41B0C1;
  color: #FBF7F7;
  width: 100%;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  max-width: 50ch;
  padding: 0 2rem;
}

.footer__nav {
  padding: 4rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-logo--footer {
  color: currentColor;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
}

.nav-logo--footer-text {
  font-size: 2rem;
}

.nav-logo--footer img {
  height: 2rem;
  width: 2rem;
}
/*# sourceMappingURL=main.css.map */